@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-shades: #F0F1FF;
  --light-accent: #E1CCF0;
  --main-brand-color: #BA90D9;
  --dark-accent: #652296;
  --dark-shades: #4B0082;
  --font-inter: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light-shades: #4B0082;
    --light-accent: #652296;
    --main-brand-color: #BA90D9;
    --dark-accent: #E1CCF0;
    --dark-shades: #F0F1FF;
  }
}

body {
  color: var(--dark-shades);
  background: var(--light-shades);
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}